extends layouts/layout.pug

block content
	.container
		div(class="row mt-3")
			div(class="col-lg-8 mx-auto")
				div(class="card") 
					span(class="font-weight-bold") Github
					if githubCurrentUser
						if githubSelectedRepository
							span Monitoring repository #{githubSelectedRepository.name} and pushing data to Databox.
							a(class="btn btn-primary" href="/github/logout") Disconnect
						else
							span Please select a repository you wish to monitor and push data to databox.
								form(action="/github/repositories", method="POST", enctype="application/x-www-form-urlencoded")
									select(class="custom-select mt-3 mb-3", name="repository_id")
										each repository in githubUserRepositories
											option(value=repository.id) #{repository.name}
									button(class="btn btn-primary" type="submit") Submit
					else
						a(class="btn btn-primary" href=`${githubAuthorizationUri}`) Connect
				div(class="card")
					span(class="font-weight-bold") SendGrid
					if sendGridCurrentUser
						p Monitoring #{sendGridCurrentUser.first_name} #{sendGridCurrentUser.last_name} account and pushing data to Databox.
						a(class="btn btn-primary" href="/sendgrid/logout") Disconnect
					else
						form(action="/sendgrid", method="POST")
							div(class="form-group")
								label(for="sendgridApiKey") API Key
								input(type="text", class="form-control", id="sendgridApiKey" name="sendGridApiKey")
							button(class="btn btn-primary btn-block" type="submit") Connect
